# Created by .ignore support plugin (hsz.mobi)

# Cache and logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
/app/config.yml

# Managed by Composer
/bin
/vendor

# phpunit
phpunit.xml

# php-cs-fixer
.php_cs.cache
